@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$color1: #FF3672;
$color2: #FFA835;
$color3: #F2DCFF;
$color4: #5F1BAA;
$color5: #DDDDFF;
$color6: #1B3DB3;
$color7: #D9FFE1;
$color8: #228923;
$color9: #DCFEF5;
$color10: #0D795A;
$color11: #55291F;
$color12: #E8481D;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
    background-color: #111;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;

    .main {
        width: 50rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 880px) {
            & {
                width: 40rem;
            }
        }

        @media (max-width: 700px) {
            & {
                width: 30rem;
            }
        }

        @media (max-width: 530px) {
            & {
                width: 100%;
            }
        }

        .header {
            width: 100%;
            height: 5rem;
            background-color: #151515;
            box-shadow: 0 0 20px #00000085;
            border-radius: 20px;
            padding: 1rem 2rem;
            box-sizing: border-box;

            @media (max-width: 880px) {
                & {
                    padding: 1rem;
                }
            }

            .header_container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;

                .header_input {
                    width: 70%;
                    height: 100%;
                    outline: none;
                    border: none;
                    border-radius: 16px;
                    background-color: #222;
                    padding: 0 2rem;
                    box-sizing: border-box;
                    color: #F2DCFF;
                    font-family: "Fira Code", monospace;
                    font-size: 1.1em;
                }

                .header_input_btn {
                    width: 30%;
                    height: 100%;
                    background-color: #b17dea;
                    color: $color4;
                    border: none;
                    font-family: "Oswald", sans-serif;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    border-radius: 16px;
                    cursor: pointer;
                    outline: 3px solid transparent;
                    transition: all .3s ease;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    .header_input_btn_span {
                        position: absolute;
                        border-radius: 50%;
                        transform: scale(0);
                        background-color: #ffffff90;
                    }

                    .check__ {
                        display: none;
                    }

                    &:hover {
                        font-size: 14px;
                        outline: 3px solid #b27dea8f;
                    }
                }

                .header_input_btn__complete {
                    background-color: $color9;
                    color: $color10;

                    h3 {
                        @media (max-width: 530px) {
                            & {
                                display: none;
                            }
                        }
                    }

                    .check__ {
                        display: block;

                        @media (max-width: 880px) {
                            & {
                                display: none;
                            }
                        }

                        @media (max-width: 530px) {
                            & {
                                display: block;
                            }
                        }
                    }

                    &:hover {
                        font-size: 13px;
                        outline: 3px solid transparent;
                    }

                }
            }
        }

        .days {
            width: 100%;
            height: 100%;
            background-color: #151515;
            box-shadow: 0 0 20px #00000085;
            border-radius: 20px;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            scrollbar-width: none;
            padding: 1rem 2rem;
            box-sizing: border-box;

            .days_list {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column-reverse;
                gap: 1rem;

                .days_list_item {
                    width: 100%;
                    min-height: 3rem;
                    height: fit-content;
                    border-radius: 16px;
                    background-color: #222;
                    padding: 1rem 2rem;
                    box-sizing: border-box;
                    color: #F2DCFF;
                    font-family: "Fira Code", monospace;
                    font-size: 1.1em;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    p {
                        hyphens: auto;
                        word-break: break-all;
                        text-align: start;

                    }

                    .days_list_item_header {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        color: $color2;
                    }
                }
            }
        }
    }
}

.blur {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    left: 0;
    top: 0;
    font-size: 3em;
    color: $color1;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    span:nth-child(1) {
        animation: loaderDotes 2s ease infinite;
    }

    span:nth-child(2) {
        animation: loaderDotes 2s ease infinite;
        animation-delay: .5s;
    }

    span:nth-child(3) {
        animation: loaderDotes 2s ease infinite;
        animation-delay: 1s;
    }
}

@keyframes loaderDotes {
    50% {
        transform: translateY(-3px);
    }
}

.no_visible {
    display: none;
}